{% extends "../base.html" %}

{% block content %}

<center class="mt-5">
    <div class="d-md-flex gap-2 justify-content-center flex-md-row">
        <a class="p-2 px-5 btn btn-secondary link-light link-underline-opacity-0 rounded rounded-5 mt-2" href="" style="width:10rem">Students</a>
        <a class="p-2 px-5 btn btn-secondary link-light link-underline-opacity-0 rounded rounded-5 mt-2" href="" style="width:10rem">link 2</a>
        <a class="p-2 px-5 btn btn-secondary link-light link-underline-opacity-0 rounded rounded-5 mt-2" href="" style="width:10rem">link 3</a>
    </div>
</center>
{% endblock content %}