 {% load django_htmx %}
 <!DOCTYPE html>
<html lang="en">
<head>
    {% htmx_script %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body hx-headers='{"x-csrftoken": "{{ csrf_token }}"}'>




        <input name="text" hx-post="/auth/test/"
        hx-trigger="keyup changed delay:1s"
        hx-target="#search-results"
        placeholder="Search..." />
    


<div id="search-results"></div>


<script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>


</body>
</html>