{% extends 'base.html' %}   

{% block content %}

<div class="container text-white">
    <div class="row my-5">
        <div class="col-md-6 col-lg-6 mx-auto shadow  p-5" style="background-color: #c51315;">

        

        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}

        <form action="" method="POST" novalidate>
            <h1>Verify OTP </h1>
            {% csrf_token %} 
            {{form}}
            <button class="btn btn-warning mt-3" id='verify_btn'>Verify</button>
        </form>

        </div>
    </div>
</div>


<script>
    otpInput = document.getElementById('id_otp')
    verifyBtn = document.getElementById('verify_btn')
    verifyBtn.disabled = true

    otpInput.addEventListener('input', (e) => {
        if (e.target.value.length === 6 || e.target.value.length === 0){
            verifyBtn.disabled = false;
        }else{
            verifyBtn.disabled = true; 
        }
    })
</script>

{% endblock %}