:root{
    --theme-color:#c51315;
}


ul.nav {
    background-color: var(--theme-color);
    height: 10vh;
}

.container-fluid {
    height: calc(100vh - 10vh);
    background-image: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .8)), url(/static/images/cover.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

center div {
    background-color: var(--theme-color);
    color: #fff;
    font-size: 3rem;
    font-weight: 600;
}




