@import url('./vendor_cards.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --theme-color-rgb: 32, 5, 67;
    --theme-color-rgba: rgba(32, 5, 67, 1);
    --main-theme: #c51315;
    --main-theme-rgb: 122, 133, 193;
    --bg-hover: #fff;
    --bs-warning: var(--bg-hover);
    --bs-warning-rgb: 59, 56, 160;
}

.btn-warning {
  --bs-btn-color: #fff;
  --bs-btn-bg: rgba(32, 5, 67, 1);
  --bs-btn-border-color: transparent;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg:rgba(32, 5, 67, 1);
  --bs-btn-hover-border-color: transparent;
  --bs-btn-focus-shadow-rgb: var(--main-theme-rgb);
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--bs-warning);
  --bs-btn-active-border-color: transparent;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #d3d7dd;
  --bs-btn-disabled-border-color: transparent;
}

.btn-danger {
  --bs-btn-color: #222;
  --bs-btn-bg: #FFEADA;
  --bs-btn-border-color: #FFEADA;
  --bs-btn-hover-color: #222;
  --bs-btn-hover-bg: #ecc9af;
  --bs-btn-hover-border-color: #ecc9af;
  --bs-btn-focus-shadow-rgb: 60,153,110;
  --bs-btn-active-color: #222;
  --bs-btn-active-bg: #ecc9af;
  --bs-btn-active-border-color: #ecc9af;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #222;
  --bs-btn-disabled-bg: #FFEADA;
  --bs-btn-disabled-border-color: #FFEADA;
}




#main_container{
    height: calc(100vh - 20vh);
    max-height: calc(100vh - 20vh);
}

.navbar-expand-lg{
    background-color: var(--main-theme);
}

.form-control{
    box-shadow: 0 0 0 0.05rem var(--main-theme);
}

.form-control:focus{
    border-color: var(--main-theme) !important;
    box-shadow: 0 0 0 0.1rem var(--main-theme) !important;
}
.form-select:focus{
    border-color: var(--main-theme) !important;
    box-shadow: 0 0 0 0.1rem var(--main-theme) !important;
}


/* Example: Changing the hover background color */
.form-select{
    box-shadow: 0 0 0 0.05rem var(--main-theme);
}


.form-select option:hover {
    background-color: var(--main-theme) !important;
    color:#fff;
    padding:0 .5em;
}

.topnav{
    background-color: var(--main-theme);
}


/* style the side bar */
.sidebar{
    /* height: 80vh; */
    /* background-color: rgba(197, 19, 21, 0.8); */
    background-color: var(--main-theme);
}



/* style side navigation in dashboard--home.  */

.side-navigation {
    padding: 0;
}
.side-navigation li {
    position: relative;
    list-style-type: none;
    padding: .3em 0;
    width: 100%;
    line-height: 2em;
}



.side-navigation li a {
    text-decoration: none;
    display: block;
    width: 100%;
    padding:.3em 1em;
    color: #fff;
}

.side-navigation li:hover a{
    background-color:#fff;
    color:#000;
}



.side-navigation li:hover i {
   animation: spin 1s ease-in-out 1 reverse;
}

.side-navigation li a.active {
    background-color: var(--bg-hover);
    color:#000;

}

.paginator-container a {
    display: inline-flex;
    /* width: 2em; */
    /* height: 2em; */
    /* border-radius: 50%; */
    justify-content: center;
    align-items: center;
    background-color: var(--main-theme);
    color:white;
    padding:.5em;
    text-decoration: none;

}

.paginator-container a:hover {
    background-color:#7e080a;
    color: #fff;
}

a.active {
    background-color: var(--bg-hover);
    color:#000;
}

.paginator-container a.active {
    background-color:#7e080a;
    color: #fff;
}

/* styling the side-navigation for reponsivenss */
/* media screen */

@media screen and (max-width: 768px) {
    .side-navigation li {
        display: inline-block;
        width: auto;
    }

    .sidebar {
        position: sticky;
        top:2.8em;;
    }
    
}


/* styling the item list */
.flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.flex-container .item_list_container{
    background-color:rgba(0,0,0,.3)
}

/* search indicator  */
.htmx-indicator{
    display:none;
}
.htmx-request .htmx-indicator{
    display:inline;
}
.htmx-request.htmx-indicator{
    display:inline;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

input[type=checkbox] {
    accent-color: #c51315; 
    transform: scale(1.8); 
    margin: 1em 5px;
    border:1px solid #fff;
}

input[type=radio]{
    accent-color: #c51315;
    width:1.3em;
    height:1.3em;
    cursor: pointer;
}

#alloc_form fieldset legend {
    font-size:16px;
}

#id_type{
    display: flex;
    flex-direction: row;
    gap: 1em;
    line-height: 1.3em;
    margin:.5em 0;
}

#id_type div label {
  line-height: 1.1;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
}

.searchbar {
    display: flex;
    justify-content: center;
    align-items: center;
}
.searchbar input {
    border:1px solid #c51315;
    border-radius: .5em 0 0 .5em;
    padding:.5em;
    border-right: none;
    /* transition: width .5s ease; */
}

.searchbar input:focus {
    border-color: var(--main-theme);
    outline:none;
    color: var(--main-theme);
}

.searchbar button i {
    border:1px solid var(--main-theme);
    border-radius: 0 .5em .5em 0;
    border-left: none;
    padding:.75em;
    cursor: pointer;
    background-color:var(--main-theme);
    color:white;
}

.searchbar button.search, .search {
    outline:none;
    background-color: transparent;
    border:none;
}

.searchbar button.search i:hover {
    background-color:#7e080a;
    color: #fff;
}

tfoot button i {
    position:relative;
    cursor: pointer;
}




/* style kit detail page */
.kit_detail_container dl {
    display: inline-flex;
    list-style-type: none;
    flex-wrap: wrap;
    justify-content: start;
}

.kit_detail_container dl dd {
    flex-basis: 100%;
    margin-left: 2em;;
}

.kit_detail_container dl span {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-hover);
    color:white;
    height:1.5em;
    width:1.5em;
    border-radius: 50%;
    margin-right: .5em;
}


/* styling the form error */
.errorlist.nonfield {
    color:rgb(172, 18, 18);
    list-style: none;
}

.errorlist.nonfield::marker {
    visibility: none;
}


.errorlist li {
    color:rgb(172, 18, 18);
    list-style: none;
}

.errorlist.nonfield::before{
    content:"⚠️ ";
    color:red;
}

ul.dropdown-menu li a:hover {
    background-color: #c51315;
    color: white;
}

.dropdown.dropdown-toggle:focus {
    box-shadow: none;
    outline: none;
}

/* allocate_sale.html form styling */

  #alloc_form ul {
    list-style-type: none;
  }

 #alloc_form ul li {
    display: inline-block;
  }


  
 #alloc_form  input[type="checkbox"]{
    display: none;
  }

  
 #alloc_form  label {
    border: 1px solid #fff;
    padding: 10px;
    display: block;
    position: relative;
    cursor: pointer;
  }

  
 #alloc_form  label:before {
    background-color: white;
    color: white;
    content: " ";
    display: block;
    border-radius: 50%;
    border: 1px solid grey;
    position: absolute;
    top: -5px;
    left: -5px;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 28px;
    transition-duration: 0.4s;
    transform: scale(0);
  }

#alloc_form  label img, img {
    height:4em;
    width: 4em;
    transition-duration: 0.2s;
    transform-origin: 50% 50%;
  }

  
 #alloc_form  :checked+label {
    border-color: #c51315;
  }


 #alloc_form   :checked+label:before {
    content: "✓";
    background-color: var(--main-theme);
    transform: scale(1);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
  }


 #alloc_form  :checked+label img {
    transform: scale(0.9);
    /* box-shadow: 0 0 5px #333; */
    z-index: -1;
  }

#alloc_form ul.errorlist.nonfield::marker {
    color:var(--main-theme);
    font-size: .8em;
}

/* styling the left side list boxes */
.box-container {
    max-height: calc(100vh - 20vh);
    height: calc(100vh - 33vh);
    overflow-y: auto;
}
.right-list-box{
    max-height: 100%;
    height: 100%;
    overflow-y: auto;
}




