
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --theme-color-rgb: 32, 5, 67;
    --theme-color-rgba: rgba(32, 5, 67, 1);
    --main-theme: #7A85C1;
    --main-theme-rgb: 122, 133, 193;
    --bg-hover: #3B38A0;
    --bs-warning: var(--bg-hover);
    --bs-warning-rgb: 59, 56, 160;
}

.btn-warning {
  --bs-btn-color: #fff;
  --bs-btn-bg: var(--bg-hover);
  --bs-btn-border-color: transparent;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: var(--bg-hover);
  --bs-btn-hover-border-color: transparent;
  --bs-btn-focus-shadow-rgb: var(--main-theme-rgb);
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--bs-warning);
  --bs-btn-active-border-color: transparent;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #d3d7dd;
  --bs-btn-disabled-border-color: transparent;
}

.form-control:focus{
    border-color: var(--main-theme);
    box-shadow: 0 0 0 0.25rem rgba(231, 197, 4, 0.25);
}


/* Example: Changing the hover background color */
.form-select{
    box-shadow: 0 0 0 0.25rem rgba(231, 197, 0, 0.25);

}

.form-select option:hover {
    background-color: var(--main-theme);
}

.navbar-expand-lg{
    background-color: var(--main-theme);
}


/* style the side bar */
.sidebar{
    /* height: 80vh; */
    /* background-color: rgba(197, 19, 21, 0.8); */
    background-color: #7A85C1;
}



/* style side navigation in dashboard--home.  */

.side-navigation {
    padding: 0;
}
.side-navigation li {
    position: relative;
    list-style-type: none;
    padding: .3em 0;
    width: 100%;
    line-height: 2em;
}



.side-navigation li a {
    text-decoration: none;
    display: block;
    width: 100%;
    padding:.3em 1em;
    color: white;
}

.side-navigation li:hover a{
    background-color: var(--bg-hover);
    color:white;
}

.side-navigation li:hover i {
   animation: spin 1s ease-in-out 1 reverse;
}

.side-navigation li a.active {
    background-color: var(--bg-hover);
    color:white;

}

.paginator-container a {
    display: inline-flex;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    background-color: var(--main-theme);
    color:white;
    padding:.5em;

}

.paginator-container a:hover {
    background-color: var(--bg-hover);
}

.paginator-container a.active {
    background-color: var(--bg-hover);
}

/* styling the side-navigation for reponsivenss */
/* media screen */

@media screen and (max-width: 768px) {
    .side-navigation li {
        display: inline-block;
        width: auto;
    }

    .sidebar {
        position: sticky;
        top:2.8em;;
    }
    
}


/* styling the item list */
.flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.flex-container .item_list_container{
    background-color:rgba(0,0,0,.3)
}

/* search indicator  */
.htmx-indicator{
    display:none;
}
.htmx-request .htmx-indicator{
    display:inline;
}
.htmx-request.htmx-indicator{
    display:inline;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

input[type=checkbox] {
    accent-color: #3B38A0; 
    transform: scale(1.8); 
    margin-right: 5px;     
}

.searchbar {
    display: flex;
    justify-content: center;
    align-items: center;
}
.searchbar input {
    border:1px solid #3B38A0;
    border-radius: .5em 0 0 .5em;
    padding:.5em;
    border-right: none;
}

.searchbar span i {
   border:1px solid #3B38A0;
    border-radius: 0 .5em .5em 0;
    border-left: none;
    padding:.75em;
    cursor: pointer;
    background-color:var(--main-theme);
    color:white;
}

.searchbar span i:hover {
    background-color:var(--bg-hover);
}

/* style kit detail page */
.kit_detail_container dl {
    display: inline-flex;
    list-style-type: none;
    flex-wrap: wrap;
    justify-content: start;
}

.kit_detail_container dl dd {
    flex-basis: 100%;
    margin-left: 2em;;
}

.kit_detail_container dl span {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-hover);
    color:white;
    height:1.5em;
    width:1.5em;
    border-radius: 50%;
    margin-right: .5em;
}

