{% extends 'dashboard/home.html' %}
{% load paginator_tag %}
{% load partials %}


{% block table %}
{% startpartial optionpart %}
        <div class="form-group" id="productoptions">
            <select name="{{form.variant.html_name}}" id="" class='form-select'>
                {% for val, text in form.variant.field.choices %}
                    <option value="{{val}}">{{text}}</option>
                {% endfor %}                
            </select>
        </div>
{% endpartial %}

<div>
    <h2>Stock</h2>
    <div>
        {% comment %}
        <a class="btn btn-primary" role="button" href="{% url 'stock:add_stock' %}">Add</a>
        {% endcomment %}
        <button class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#downloadform">Download</button>
        
        <table class="table mx-auto w-auto table-responsive overflow-x-auto">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endif %}
            <thead>
                <tr>
                    {% for field in form %}
                        <th>{{ field.label_tag }}</th>
                    {% endfor %}

                    <th></th>
                </tr>

                <tbody>
                    <form action="{% url 'stock_list' %}" method='POST'>
                        {% csrf_token %}
                        <tr>
                            <td>
                                <div class="form-group">
                                    <select name="{{form.item.html_name}}" class='form-select'
                                    hx-get="{% url 'stock:item_variant' %}"
                                    hx-swap="outerHTML"
                                    hx-trigger="change"
                                    hx-target="#productoptions">
                                        {% for val, text in form.item.field.choices %}
                                            <option value="{{val}}">{{text}}</option>
                                        {% endfor %}                
                                    </select>
                                </div>
                            </td>
    
                            <td>
                                <div class='form-group'>
                                    <select name="{{form.location.html_name}}"  class='form-select'>
                                    {% for val, text in form.location.field.choices %}
                                        <option value="{{val}}">{{text}}</option>
                                    {% endfor %}   
                                    </select>             
                                </div>
                            </td>
    
                            <td>
                                {% partial optionpart %}
                            </td>
    
                            <td>
                                {{form.quantity}}
                            </td>
    
                            <td>
                                <button type='submit' class="btn btn-sm btn-primary mt-1">Submit</button>
                            </td>
                        </tr>
                    </form>
                </tbody>
            </thead>
        </table>


        <div class="modal fade" tabindex="-1" id="downloadform" data-bs-backdrop="static" data-bs-keyboard="false">
            <div class="modal-dialog ">
                <div class="modal-content">

                    <div class="modal-header">
                        <h5 class="modal-title">Download Purchase List</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                        <form action="" method="post">
                            {% csrf_token %}
                            {{form}}
                            <input type="submit" value="Save" class="btn btn-success mt-3">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <table class="table my-3 table-responsive overflow-x-auto">
        <thead>
            <tr>
                <th>S.N</th>
                <th>Item</th>
                <th>Item ID</th>
                <th>Size</th>
                <th>Quantity</th>
                <th>Manager</th>
                <th>Created On</th>
                <th>Updated On</th>
            </tr>
        </thead>
            {% for s in stocks %}
            <tr>
                <td>
                    <a href="#">{{s.id}}</a>
                </td>
                {% comment %} <td>{{s.stock_item.name | capfirst}}</td>
                <td>{{s.stock_item.id}}</td>
                <td>{{s.stock_item.get_size_display | upper}}</td>
                <td>{{s.quantity}}</td>
                <td>{{s.user.name}}({{s.user.emp_id}})</td>
                <td>{{s.date | date:'d/m/Y'}}</td>
                <td>{{s.update_at}}
                    <small></small>
                </td> {% endcomment %}
            </tr>
            {% endfor %}
        <tbody>

        </tbody>
    </table>

    <div>
        {% show_pagination page_obj %}
    </div>

{% endblock %}