{% extends "dashboard/home.html" %}
{% load paginator_tag %}


{% block table %}
    <table class="table">
        <h3>Student Data</h3>
        <thead>
            <th>Name</th>
            <th>Father's Name</th>
            <th>Enrollement Number</th>
            <th>Receipt</th>
            <th>Roll Number</th>
            <th>Batch</th>
            <th>DOB</th>
            <th>Phone Number</th>
        </thead>

        <tbody>
            {% for st in students %}
            <tr>
                <td>{{st.name}}</td>
                <td>{{st.father_name}}</td>
                <td>{{st.enrollement}}</td>
                <td>{{st.receipt}}</td>
                <td>{{st.roll}}</td>
                <td>{{st.batch}}</td>
                <td>{{st.date_of_birth}}</td>
                <td>{{st.phone}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div>
        {% show_pagination page_obj %}

    </div>
{% endblock%}