{% extends 'dashboard/home.html' %}
{% load paginator_tag %}

{% block table %}

<div>
    <h2>Transactions</h2>
    <div>
        <button class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#downloadform">Download</button>
        <div class="modal fade" tabindex="-1" id="downloadform" data-bs-backdrop="static" data-bs-keyboard="false">
            <div class="modal-dialog ">
                <div class="modal-content">

                    <div class="modal-header">
                        <h5 class="modal-title">Download Transactions</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                        <form action="" method="post">
                            {% csrf_token %}
                            {{form}}
                            <input type="submit" value="Save" class="btn btn-success mt-3">
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
    <table class="table my-3">
        <thead>
            <tr>
                <th>ID</th>
                <th>Item</th>
                <th>Item ID</th>
                <th>Transaction Type</th>
                <th>Quantity</th>
                <th>reference Id</th>
                <th>reference model</th>
                <th>Manager</th>
                <th>Created On</th>
                <th>Notes</th>
            </tr>
        </thead>
        <tbody>

            {% for t in transactions %}
            <tr>
                <td>{{t.id}}</td>
                <td>{{t.item.name | capfirst}}</td>
                <td>{{t.item.id}}</td>

                <td><a href="" data-bs-toggle='modal' data-bs-target='#detailtransaction'
                hx-get='{% url "stock:transaction_detail" t.reference_id %}?type={{t.get_transaction_type_display}}'  
                hx-target='#transaction-detail'>{{t.get_transaction_type_display}}</a></td>
                <td>{{t.quantity}}</td>
                <td>{{t.reference_id}}</td>
                <td>{{t.reference_model}}</td>
                <td>{{t.manager.name}}({{t.manager.emp_id}})</td>
                <td>{{t.created_at}}</td>
                <td>{{t.notes}}</td>
            </tr>
            {% endfor %}

        </tbody>
    </table>

    <div class="border">
        {% show_pagination page_obj %}
    </div>


    <div class="modal fade" id='detailtransaction'>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">Transaction Detail</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <div id="transaction-detail"></div>
                </div>
            </div>
        </div>
    </div> 

{% endblock %}

