{% extends 'dashboard/home.html' %}
{% load paginator_tag %}

{% block table %}

<div>
    <h2>Transactions</h2>
    <div>
        <button class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#downloadform">Download</button>
        <div class="modal fade" tabindex="-1" id="downloadform" data-bs-backdrop="static" data-bs-keyboard="false">
            <div class="modal-dialog ">
                <div class="modal-content">

                    <div class="modal-header">
                        <h5 class="modal-title">Download Transactions</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                        <form action="" method="post">
                            {% csrf_token %}
                            {{form}}
                            <input type="submit" value="Save" class="btn btn-success mt-3">
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
    <table class="table my-3">
        <thead>
            <tr>
                <th>ID</th>
                <th>Item</th>
                <th>Item ID</th>
                <th>Transaction Type</th>
                <th>Quantity</th>
                <th>reference Id</th>
                <th>reference model</th>
                <th>Manager</th>
                <th>Created On</th>
            </tr>
        </thead>
            {% for t in transactions %}
            <tr>
                <td>{{t.id}}</td>
                <td>{{t.item.name | capfirst}}</td>
                <td>{{t.item.id}}</td>
                <td>{{t.get_transaction_type_display}}</td>
                <td>{{t.quantity}}</td>
                <td>{{t.reference_id}}</td>
                <td>{{t.reference_model}}</td>
                <td>{{t.manager.name}}({{t.manager.emp_id}})</td>
                <td>{{t.created_at}}</td>
            </tr>
            {% endfor %}
        <tbody>

        </tbody>
    </table>

    <div>
        {% show_pagination page_obj %}
    </div>

{% endblock %}