*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inline-list {
    max-width: 100vw;
    white-space: nowrap;
    overflow-x: auto;
    text-align: center;
    
}

.inline-list li {
    list-style: none;
    display: inline-flex;          
    justify-content: center;       
    align-items: center;          
    
    border: 1px solid #c51315;
    border-radius: 1em;
    padding: .5em 1em;
    height: 2.2em;                 
    font-size: 14px;
    line-height: 1;
}

.truncate {
    overflow-x: auto;
    white-space: nowrap;
    display: block;
}

.item-cell {
    position: relative;
}

.item-cell i {
    margin-left: 0.5em;
    cursor: pointer;
    color: #c51315;
}

/* Initially hidden */
.item-detail-box {
    display: none;
    position: absolute;
    top: -50%;
    left: 0;
    background: white;
    border: 1px solid #ddd;
    padding: 8px 12px;
    z-index: 10;
    box-shadow: 0 3px 6px rgba(0,0,0,0.15);
    border-radius: 5px;
    min-width: 180px;
}

/* Show on hover */
.item-cell:hover .item-detail-box {
    display: block;
}
