{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">

</head>

<body>
    <ul class="nav justify-content-end align-items-center gap-3">

     {% if request.user.is_authenticated %}
     <li class="nav-item me-3">
        <strong class="text-light">{{request.user.email}}</strong>
     </li>
     {% else %}
     <li class="nav-item">
         <a class="nav-link link-light" href="{% url 'authapp:login' %}">Login</a>
    </li>
        {% endif %}   
    
   </ul>

    <div class="container-fluid">
        <div class="row align-items-center justify-content-center h-100">
            <div class="col">
                <div class="d-flex justify-content-center gap-3 mt-2 main_page_card rounded">
                    <div class="for-student p-4 card shadow">
                        <a href="{% url 'kit:student_index' %}" class="stretched-link link-underline link-underline-opacity-0 ">For Student</a>
                    </div>
                    <div class="for-office p-4 card shadown">
                        <a href="{% url 'stock:create_stock' %}" class="stretched-link link-underline link-underline-opacity-0 ">For Office</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>

</body>
</html>