<div class="d-flex gap-1">
    {% url 'stock:add_category' as CATEGORY %}
    {% url 'stock:add_item' as ITEM %}
    {% url 'stock:add_variant' as VARIANT %}
    {% url 'kit:create_kit ' as KIT %}
    {% url 'kit:kititem_form ' as KITITEMS %}

    <a href="{% url 'stock:add_category' %}"  role="btton" class="btn btn-secondary rounded-0 {% if request.path == CATEGORY %} active border-info border-2 {% endif %}">Add Category</a>

    <a href="{% url 'stock:add_item' %}"  role="btton" class="btn btn-secondary rounded-0 {% if request.path == ITEM %} active border-info border-2 {% endif %}" >Add Item</a>

    <a href="{% url 'stock:add_variant' %}" role="button" class="btn btn-secondary rounded-0 {% if request.path == VARIANT %} active border-info border-2 {% endif %}">Add Variant</a>

    <a href="{% url 'kit:create_kit' %}" role="button" class="btn btn-secondary rounded-0 {% if request.path == KIT %} active border-info border-2 {% endif %}">Kit</a>

    <a href="{% url 'kit:create_kititems' %}" role="button" class="btn btn-secondary rounded-0 {% if request.path == KITITEMS %} active border-info border-2 {% endif %}">Kit Items</a>
</div>