{% extends "dashboard/home.html" %}
{% load static %}


{% block table %}
<div class="container text-white">
    <div class="row my-5">
        {% include "stock/catelogue_nav.html" %}
        <div class="flex-container">
            <div class="col-md-6 col-lg-6 mx-auto shadow p-2 my-2" style="background-color: #7A85C1;">
   
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endif %}
    
            <form action="" method="post">
                {% csrf_token %} 

                <h3>Add Category</h3>
                {% for error in form.non_field_errors %}
                    <p class="bg-danger-subtle rounded text-danger">⚠️{{ error }}</p>
                {% endfor %}
                {% for field in form %}
                <div class="mb-3">
                    {{ field.label_tag }}
                    {{ field }}
                    {% for error in field.errors %}
                        <div class="text-danger">{{ error }}</div>
                    {% endfor %}
                </div>
                {% endfor %}
                <button class="btn btn-warning mt-3">Submit</button>
            </form>
    
            </div>
        </div>
    </div>
</div>
{% endblock table %}
