{% extends "dashboard/home.html" %}
{% load static %}
{% load partials %}
{% load paginator_tag %}

{% block table %}

{% url 'stock:transaction_list' as TRANSACTION %}
{% url 'stock:create_stock' as STOCK %}


<div id="stock_add_form_container"></div>

    <div class="message-body">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}
    </div>

<div class="modal fade" id="id_stockform_modal" tabindex="-1" data-bs-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Add Stock</h3>
            </div>
            <div class="modal-body">
                {% startpartial optionpart %}
                <div class="form-group" id="productoptions">
                    <select name="{{form.variant.html_name}}" id="" class='form-select'
                    hx-get="{% url 'stock:check_serializable' %}"
                    hx-swap="innerHTML"
                    hx-include='this'
                    hx-select="#serial_number_form_container"
                    required>
                        {% for val, text in form.variant.field.choices %}
                            <option value="{{val}}">{{text}}</option>
                        {% endfor %}                
                    </select>
                </div>
                {% endpartial %}

                <form hx-post="{% url 'stock:create_stock' %}" hx-target="#response_message" hx-swap="innerHTML" id="stock_form">
                    {% csrf_token %} 

                    <table class="table table-responsize table-sm caption-top">
                    <thead>
                        <tr>
                            <th>Item</th>
                            <th>Location</th>
                            <th>Variant</th>
                        </tr>
                    </thead>

                    <tbody>

                        {% for error in form.non_field_errors %}
                            <p class="bg-danger-subtle rounded text-danger">⚠️{{ error }}</p>
                        {% endfor %}

                        <td>
                            <div class="form-group">
                                <select name="{{form.item.html_name}}" class='form-select'
                                hx-get="{% url 'stock:item_variant' %}"
                                hx-swap="outerHTML"
                                hx-trigger="change"
                                hx-target="#productoptions"
                                required>
                                    {% for val, text in form.item.field.choices %}
                                        <option value="{{val}}">{{text}}</option>
                                    {% endfor %}                
                                </select>
                            </div>
                        </td>

                        <td>

                            <div class="form-group">
                                {{form.location}}
                            </div>
                        </td>

                        <td>
                            {% partial optionpart %}
                        </td>

                        <td id="quantity_or_serial">

                            {% comment %} <div class="form-group" >
                                {{form.quantity}}
                            </div> {% endcomment %}
                        </td>
                        
                    </tbody>

                    </table>

                    <tfoot>
                        <div id="serial_number_container"></div>
                    </tfoot>
                    <div id="response_message"></div>
                </form>


            </div>

            <div class="modal-footer d-flex justify-content-center gap-3">
                <button type="button" class="btn btn-danger" data-bs-dismiss='modal'>Cancel</button>
                <button type="submit" class="btn btn-primary" form='stock_form'>Submit</button>
            </div>
        </div>
    </div>
</div>


<div>
    <div class="d-md-flex gap-2 justify-content-start flex-md-row mb-2">
        <a class="p-2  btn btn-outline-danger link-underline-opacity-0 rounded rounded-5 mt-2 {% if request.path == STOCK %}active{% endif %}" href="{% url 'stock:create_stock' %}" style="width:10rem">Stock</a>

        <a class="p-2  btn btn-outline-danger link-underline-opacity-0 rounded rounded-5 mt-2 {% if request.path == TRANSACTION %}active{% endif %}" href="{% url 'stock:transaction_list' %}" style="width:10rem">Transations</a>

    </div>

    <div class="d-flex gap-2 align-items-center justify-content-between">


        <div class="add">
            <button type="button" class="btn btn-sm btn-primary" data-bs-target='#id_stockform_modal' data-bs-toggle='modal'>Add Stock</button>
        </div>
        
        {% if stocks %}
            <div class=''>
                <form action="" method='POST'>
                    {% csrf_token %}
                    <button class="btn btn-sm btn-secondary">Download</button>
                </form>
            </div>
        
        {% endif %}
        <form action="" method='GET' class='flex-grow-1'>
            <div class='searchbar'>
                <input type="text" name='search' class="search-input" placeholder="Variant name...">
                <button class='search'><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
        </form>



    </div>

    {% if stocks %}
    
        <table class="table table-responsive table-sm table-responsive">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Item</th>
                    <th>Location</th>
                    <th>Variant</th>
                    <th>Quantity</th>
                    <th>Stocked On</th> 
                    <th>Last Updated</th>
                    <th>Manager</th>
                    <th>Edit</th>
                </tr>
            </thead>
        
            <tbody>
                {% for stock in stocks %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{stock.variant.product}}</td>
                    <td>{{stock.location}}</td>
                    <td>{{stock.variant}}</td>
                    <td>{{stock.quantity}}</td>
                    <td>{{ stock.created_at }}</td>
                    <td>{{stock.updated_at}}
                        {% if stock.movement_type == 1 %}
                        <span><i class="fa-solid fa-arrow-down text-success"></i></span>
                        {% elif stock.movement_type == 2 %}
                        <span><i class="fa-solid fa-arrow-up text-danger"></i></span>
                        {% elif stock.movement_type == 3 %}
                        <span><i class="fa-solid fa-arrow-down text-success"></i></span>
                        {% else %}
                        <span><i class="fa-solid fa-arrows-up-down text-info"></i></i></span>
                        {% endif %}
                    </td>
                    <td>{{ stock.user.full_name }} ({{ stock.user.get_employee}})</td>
                    {% if stock.variant.is_serialized %}
                    <td><a href="{% url 'stock:edit_stock_with_serials' stock.id %}"><i class="fa-solid fa-pen"></i></a></td>
                    {% else %}
                    <td><a href="{% url 'stock:update_stock' stock.id %}"><i class="fa-solid fa-pen"></i></a></td>
                    {% endif %}
        
                </tr>
                {% endfor %}
            </tbody>
        
            <tfoot>
                <tr>
                    <td colspan='9'>
                        {% show_pagination stocks %}
                    </td>
                </tr>
                <div class="d-flex  align-items-center gap-2">
                    <p class=''>Total Records:{{stocks.count}}</p>
    
                    <p class=''>
                        <a href="{% url 'stock:create_stock' %}"><i class="fa-solid fa-arrows-rotate" style="color: #1f3251;"></i></a>
                    </p>
    
                </div>
            </tfoot>
        
        </table>
    
    {% endif %}
</div>

    
{% endblock table %}

