{% extends "dashboard/home.html" %}
{% load widget_tweaks %}

{% block table %}
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endif %}
{% csrf_token %}
<div class="form_container d-flex gap-2">
    <div class="stock_form w-25 sm-w-100 border">
                <form action="" method='POST' class="edit_stock_form">
                    {% csrf_token %}
                <h3 class="px-2 bg-dark-subtle">Edit Stock</h3>
                    <div class="p-3">
                        <div class="form-group mt-1">
                            <label for="" class="form-label">Variant</label>
                            {{ stock_form.variant|add_class:"form-select" }}
                        </div>
                
                        <div class="form-group mt-1">
                            <label for="" class="form-label">Location</label>
                            {{ stock_form.location|add_class:"form-select" }}
                        </div>
                
                        <div class="form-group mt-1">
                            <label for="" class="form-label">Quantity</label>
                            {{ stock_form.quantity|add_class:"form-control" }}
                        </div>
                    </div>
                <button class="btn m-3 btn-primary">Submit</button>  
            </form>
            </div>


        {% if serial_numbers %}
        <div>
                <table class="table table-responsive w-auto">
                    <thead>
                        <tr>
                            <td>Id</td>
                            <th>Item</th>
                            <th>Variant</th>
                            <th>Serial Number</th>
                            <th>Edit</th>
                        </tr>
                    </thead>
                    
                    <tbody>
                        
                        {% for sr in serial_numbers %}
                        
                            <tr id="serial_row_{{ sr.id }}">
                                <td>{{sr.id}}</td>
                                <td>{{ sr.item }}</td>
                                <td>{{ sr.product_variant }}</td>
                                <td>{{ sr.serial_number }}</td>
                                <td><a href="{% url 'stock:update_serial_number' sr.id %}"><i class="fa-solid fa-pen" style="color:blue; cursor:pointer;"></i></a>
                            </tr>       
                                
                        {% endfor %}
    
                    </tbody>
                    <tfoot>
                        Total Records: {{serial_numbers.count}}
                    </tfoot>
                </table>
        </div>
        {% endif %}

  


    
        {% comment %} {% if serial_formset %}
            <div class="d-flex gap-2">
                {% for form in serial_formset %}
                <div class="serial_form border">
                    <h3 class="px-2 bg-dark-subtle">Edit Serials {{forloop.counter}}</h3>

                    <div class="form-group px-3">
                        <label for="" class="form-label">Variant</label>
                        {{form.product_variant|add_class:"form-control"}}
                    </div>
                    <div class="form-group px-3">
                        <label for="" class="form-label">Serial Number</label>
                        {{form.serial_number|add_class:"form-control"}}
                    </div>
                </div>
                {% endfor %}
            </div>
        {% endif %} {% endcomment %}
    </div>    
{% endblock table %}