{% extends "dashboard/home.html" %}
{% load static %}

{% block table %}


<div class="container text-white">
    <div class="row my-5">

        <div class="flex-container">
            <div class="item_list_container p-3">

                {% for item in itemlist %}
<!-- Example single danger button -->
                    <div class="btn-group">
                        <button type="button" class="border-0 p-2 dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            {% if item.size %}
                            {{item.name | capfirst}} ({{item.size |capfirst }})
                            {% else %}
                            {{item.name | capfirst}}
                            {% endif %}
                        </button>
                        <ul class="dropdown-menu p-2">
                            <p>Name: {{item.name | capfirst}}</p>
                            <p>Size: {{item.size | upper}}</p>
                            <p>Unit Price: {{item.unit_price}}</p>

                        </ul>
                    </div>              
                {% endfor %}
            </div>

            <div class="col-md-6 col-lg-6 mx-auto shadow p-2 my-2" style="background-color: #c51315;">
    
           
    
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endif %}
    
            <form action="" method="post">
                <h1>Add Items</h1>
                {% csrf_token %} 
                {{form}}
                <button class="btn btn-warning mt-3">Submit</button">
            </form>
    
            </div>
        </div>
    </div>
</div>

{% block scripts %}

<script src="{% static 'js/stock.js' %}"></script>
{% endblock %}


{% endblock %}