{% extends  'dashboard/home.html' %}
{% load static %}

{% block table %}

<div class="container text-white">
    <div class="row my-5">
        <div class="col-md-6 col-lg-6 mx-auto shadow pb-0 p-0">
            <h3 class="bg-warning-subtle text-dark  p-1" >Search Student</h3>

        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}

        <form method="post" class='p-2'>
            {% csrf_token %}
            
           
            
            <div class="form-group">
                {% comment %} <label for="">Enrollement Number</label> {% endcomment %}
                <input type="text" name="enrollement" placeholder="Enter enrollement Number" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="" class="text-center mt-2 w-100">OR</label>
                {% comment %} <label for="" >Name</label> {% endcomment %}
                <input type="text" name='name' class="form-control" placeholder="Enter full name">
            </div>

            {% comment %} <div class="form-group">
                <label for="">Date of Birth</label>
                <input type="date" name='dob' class="form-control" min = '{{min_date}}' max='{{max_date}}'>
            </div> {% endcomment %}

            <div class="form-group">
                <button type="button" class="btn btn-warning mt-3"
                hx-post="{% url 'stock:search_kit' %}"
                    hx-trigger="click"
                    hx-swap="outerHTML"
                    hx-target="this">
                Search</button>
            </div>
                    
                   
           <div id="result"></div>

            <!-- <button class="btn btn-primary mt-3"
                hx-post="{% url 'stock:search_kit' %}" 
                hx-target="this" 
                hx-trigger="click" 
                hx-swap="outerHTML">Search
            </button>    -->
            
            <!-- {% include "partials/return_list.html" %} -->
        </form>

        </div>
    </div>
</div>
{% endblock %}