{% extends "dashboard/home.html" %}
{% load static %}

{% block table %}


<div class="container text-white">
    <div class="row my-5">
        <div class="col-md-6 col-lg-6 mx-auto shadow  p-5" style="background-color: #7A85C1;">

        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}

        <form action="" method="post">
            <h1>Add Stock</h1>
            {% csrf_token %} 
            {{form}}
            <button class="btn btn-warning mt-3">Submit</button>
        </form>

        </div>
    </div>
</div>

{% endblock %}