{% extends 'base.html' %}   
{% load static %}

{% block content %}

<div class="container-fluid my-3" style="background-color: bisque;">

    <div class="row ">

        <div class="col-md-3 col-lg-2 col-sm-12 col-12  sidebar">
            <ul class="side-navigation">
                <li><a href="{% url 'stock_list' %}" class="{% if request.path == '/' %} active {% endif %}">Stock</a></li>
                <li><a href="{% url 'stock:add_item' %}" class="{% if request.path == '/stock/item/add/' %} active {% endif %}">Add Item</a></li>
                <li><a href="{% url 'stock:purchase_list' %}" class="{% if request.path == '/stock/purchase/list/' %} active {% endif %}">Purchases</a></li>
                <li><a href="{% url 'stock:transaction_list' %}" class="{% if request.path == '/stock/transaction/list/' %} active {% endif %}">Transactions</a></li>
                <li><a href="{% url 'stock:kit_list' %}" class="{% if request.path == '/stock/issue/list/' %} active {% endif %}">Kits</a></li>
            </ul>
        </div>

        <div class="col-lg-10 col-md-9 col-sm-12 col-12 p-3">
            {% block table %}
            {% endblock %}
        </div>
    </div>
</div>

{% endblock %}