{% extends 'base.html' %}   
{% load static %}
{% load nav_extras %}
{% block content %}
 
{#{% url 'authapp:add_student' as ADDSTUDENT %}#}
{% url 'stock:add_item' as ADDITEM %}
{% url 'stock:student_list' as STUDENTLIST %}
{% url 'stock:create_stock' as STOCKLIST %}
{% url 'stock:purchase_list' as PURCHASELIST %}
{#{% url 'stock:transaction_list' as TRANSACTIONLIST %}#}
{% url 'stock:kit_list' as KITLIST %}
{% url 'stock:vendor_list' as VENDORS %}
{% url 'orders:main' as MAIN %}

<div class="container-fluid my-3" id="main_container">

    <div class="row h-100 overflow-y-auto" >

        {% comment %} <--! home page side navigation. --> {% endcomment %}

        <div class="col-md-3 col-lg-2 col-sm-12 col-12  sidebar ">
            <ul class="side-navigation ">
                {% comment %} <li><a href="" class="{% if request.path == ADDSTUDENT %} active {% endif %}"><i class="fa-solid fa-graduation-cap me-2" style="color: #ffffff;"></i>Add Student</a></li> {% endcomment %}

                <li><a href="{% url 'catalogue:main' %}" class="{% active_class '/catalogue/' %}"><i class="fa-solid fa-square-plus me-2" style="color: #5d0607ff;"></i>Catalogue</a></li>


                <li><a href="{% url 'orders:main' %}" class="{% active_class '/orders/' %}"><i class="fa-solid fa-bag-shopping me-2" style="color: #7e080a;"></i>Orders</a></li>

                <li><a href="{% url 'stock:create_stock' %}" class="{% if request.path == STOCKLIST %} active {% endif %}"><i class="fa-solid fa-box-open me-2" style="color: #7e080a;"></i>Stock</a></li>

                <li><a href="" class="{% if request.path == TRANSACTIONLIST %} active {% endif %}"><i class="fa-solid fa-money-bill-transfer me-2" style="color: #7e080a;"></i>Transactions</a></li>
                
                <li><a href="{% url 'stock:vendor_list' %}" class="{% if request.path == VENDORS %} active {% endif %}"><i class="fa-solid fa-address-book me-2" style="color: #7e080a;"></i>Vendors</a></li>


                
                {% comment %} <li><a href="{% url 'stock:student_list' %}" class="{% if request.path == STUDENTLIST %} active {% endif %}"><i class="fa-solid fa-database me-2" style="color: #ffffff;"></i>Students Data</a></li> {% endcomment %}






                {% comment %} <li><a href="{% url 'stock:kit_list' %}" class="{% if request.path == KITLIST %} active {% endif %}"><i class="fa-solid fa-gift me-2" style="color: #ffffff;"></i>Kits Data</a></li> {% endcomment %}


              
                {% comment %} <li><a href="{% url 'stock:search_kit' %}" class="{% if request.path == '/stock/return/kit/' %} active {% endif %}"><i class="fa-solid fa-rectangle-xmark me-2" style="color: #ffffff;"></i>Return Kits</a></li> {% endcomment %}

                {% comment %} <li><button type='button' data-bs-target='#studentsearch' data-bs-toggle='modal'   class="{% if request.path == '/stock/return/kit/' %} active {% endif %} ms-3 border-0 w-100 text-start bg-transparent text-light" ><i class="fa-solid fa-rectangle-xmark me-2" style="color: #ffffff;" ></i>Exchange Item</button></li> {% endcomment %}
            </ul>

            <div class="modal fade" tabindex="-1" id="studentsearch"  data-bs-backdrop="static">
                <div class="modal-dialog">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Search Student</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form method="post" class='p-2' id='searchform'>
                                {% csrf_token %}
                                
                                <div class="form-group">
                                    {% comment %} <label for="">Enrollement Number</label> {% endcomment %}
                                    <input type="text" name="enrollement" placeholder="Enter enrollement Number" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <label for="" class="text-center mt-2 w-100">OR</label>
                                    {% comment %} <label for="" >Name</label> {% endcomment %}
                                    <input type="text" name='name' class="form-control" placeholder="Enter full name">
                                </div>


                                <div class="form-group">
                                    <button type="button" class="btn btn-warning mt-3"
                                    hx-post="#"
                                        hx-trigger="click"
                                        hx-swap="outerHTML"
                                        hx-target="this">
                                    Search</button>
                                </div>
                                        
                                    
                            <div id="result" class="mt-2"></div>

                        </form>
                    </div>
                    </div>
                </div>
            </div>   

        </div>

        <div class="col-lg-10 col-md-9 col-sm-12 col-12 p-3 overflow-y-auto"  style="max-height:100vh;" >
            {% block table %}
            {% endblock %}
        </div>
    </div>

    <div class="row">
        <div class="col text-bg-dark">
            <center>
                <p>footer area</p>
            </center>
        </div>
    </div>
</div>


    <div class="modal returnmodal fade" tabindex="-1" id="returnkit" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog ">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title">Return Kit</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <h5 class="modal-title">Are you sure you want to return kit</h5>
                </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" form="returnform">Confirm</button>
                </div>

            </div>
        </div>
    </div>


<script>

    const returnBtn = document.getElementById('returnbtn')
    const searchModal = document.getElementById('studentsearch')

    searchModal.addEventListener('shown.bs.modal', _ => {
        const searchResultWraper = document.querySelector('.detail-wraper')
    })



  function switchModal() {
      //const currentModal = bootstrap.Modal.getInstance(document.getElementById(currentModalId));
      const returnBtn = document.getElementById('returnbtn')



      const currentModel = document.getElementById('studentsearch')

      console.log(currentModel)
      //currentModal.hide();

      // Wait for the first modal to fully close, then open the next one
      setTimeout(() => {
         // const newModal = new bootstrap.Modal(document.getElementById(targetModalId));
         // newModal.show();
      }, 500); // Adjust if your animation speed differs
  }
</script>


{% endblock %}




