{% extends "catalogue/main.html" %}

{% block page_content %}

<div class="container overflow-auto box-container " >
    <div class="row overflow-y-auto position-relative">
            <div class="col-md-6 col-lg-6 {% if not categories %} mx-auto {% endif %}" >
   
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}
                {% endif %}

                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        ⚠️{{ error }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
        
                <form action="{% if instance_id %}{% url 'catalogue:update_category' instance_id %}{% else %}{% url 'catalogue:add_category' %}{% endif %}" method="post" class="p-2 text-dark border border-danger position-sticky top-0">
                    {% csrf_token %} 
                    {% if instance_id %}
                    <h3 class="text-danger">Update Category</h3>
                    {% else %}
                    <h3 class="text-danger">Add Category</h3>
                    {% endif %}
                
      

                    {% for field in form %}
                    <div class="">
                        {{ field.label_tag }}
                        {{ field }}
                        {% for error in field.errors %}
                            <div class="text-danger">{{ error }}</div>
                        {% endfor %}
                    </div>
                    {% endfor %}
                    <button class="btn btn-danger mt-3">Submit</button>
                </form>
    
            </div>

            {% if categories %}
            <div class="col-md-6 p-0 col-lg-6 ">
                <div class="p-2 border border-danger right-list-box">
                    <h3 class="text-danger">Click To Edit</h3>
                    <ul class='my-2 category-grid'>
                        {% for category in categories %}
                            <li class='text-dark'>
                                <a href="{% url 'catalogue:update_category' category.pk %}">{{category.name|capfirst}}</a>
                                {#<a href="{% url 'catalogue:delete_category' category.pk %}" class="ms-4"><i class="fa-solid fa-trash-can" style="color:#c51315"></i></a>#}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% endif %}
    </div>


</div>

{% endblock page_content %}